.button {
    background-color: rgba(29, 71, 66, 0.89); /* Green */
    /* border: 3px darkslategrey; */
    /* border-radius: 2px; */
    color: white;
    width: 50px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    margin-left: 0px;
    display: inline-block;

    font-size: 10px;
  }
  .button:hover {
    opacity:1;
  }

input{
    width : 924px;
    display: inline-block;
    margin-right: 0px;
}
  